/* First Page */
.first-page {
  border: solid black 1px;
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
.first-page h1 {
  margin: 0;
}

/* Options */

.option input {
  display: none;
}
.option label {
  display: inline-block;
  border: 1px solid #D6DBF5;
  border-radius: 8px;
  padding: 6px 12px;
  color: #293264;
  font-size: 16px;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.option input:checked + label {
  background-color: #D6DBF5;
}
